.App{
  text-align: center;
  background-color: #eee;

}
.game{
  display:grid;
  place-items: center;
  width: 100vw;
}
.flex{
  display: flex;
  width: 100%;
  gap: 0.5rem;
  justify-content: space-between;
}
.board-row{
  width:60vw
}
.char-placeholder{
  background-color: #cdf;
  width: 50px;
  color: black;
  font-size: 1.5rem;
  height: 50px;
  display:grid;
  place-items: center;
  margin-bottom: 1rem;

}

