*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #eee;
        display:grid;
  place-items: center;
  width: 100vw;
}
.App{
  text-align: center;
}
.game{  
  width: 100%;
  max-width: 756px;
  padding: 1rem;
}
.flex{
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.char-placeholder{
  background-color: #cdf;
  min-width: 50px;
  color: black;
  font-size: 1.5rem;
  height: 50px;
  display:grid;
  place-items: center;
  margin-bottom: 1rem;
}.correct {background-color: rgb(32, 184, 75);}
.wrong-pos {background-color: rgb(248, 178, 25);}
.wrong {background-color: #888;}
.active{background-color: #ded;}
